/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  padding: 20px 0;
  /* padding: 0; */
  text-align: center;
  background-color: #f9f8eb;
  color: #595260;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  /* caption,
   th,
   td {
     text-align: left;
     vertical-align: middle;
   } */
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  background-color: #f9f8eb;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
}

h2 {
  font-size: 21px;
}

a {
  color: #595260;
}

.skills_table {
  display: flex;
  justify-content: space-around;
}

.profile-picture {
  height: 140px;
  border: 1px solid;
}

@media (min-width: 426px) {
    section {
        width: 40%
    }
}
